<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ppdai.code">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.ppdai.code.jetpack.startup.initializer.LibraryAInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.ppdai.code.jetpack.startup.initializer.LibraryBInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.ppdai.code.jetpack.startup.initializer.LibraryCInitializer"
                tools:node="remove"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>